<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DeviceFlash.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DeviceFlashFormPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>DeviceFlashPerformPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DeviceFlashViewer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>79E30FDE1C19F9DF0023A890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79E30FE21C19F9DF0023A890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79E30FF91C19F9E20023A890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79E3100D1C19F9E30023A890</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
